// ==========================================================================
// Shame
// If any code was written hastily to meet deadlines or in a hackish way then those
// codes should be written in _shame.scss. Documentation of hack codes is encouraged.
// Cleaning up the code in _shame.scss should be done at spare time. Find out whose code it is by
// using: $ git blame _shame.scss
// ==========================================================================
