// ==========================================================================
// Manifest (Utilities)
// Each folder on the SMACSS architecture will have its own manifest partial. We import all the partials of
// the folder to its respective manifest partial. Then all manifest partial will be imported to the
// style.scss file.
// ==========================================================================

/* Normalize Code Start */
@import 'normalize';
/* Normalize Code End */

/* Sass Compiled Bootstrap Code Start */
// @import 'bootstrap';
/* Sass Compiled Bootstrap Code End */

@import '_config';
@import 'helpers';
@import '_utilities';

/* Sass Compiled Custom Grid Code Start */
@import 'grid';
/* Sass Compiled Custom Grid Code End */

/* Sass Compiled Theme Code Start */
@import 'theme';
/* Sass Compiled Theme Code End */