// ==========================================================================
// Extends
// Placeholders used for the module partials are defined here.
// Example:
// %input {border: 0; border-bottom: 1px solid black;}
// The placeholder defined may be used in "_forms.scss" as:
// input__material--left {@extend %input; float: left;
//   .input__material--right {@extend %input; float: right;}
// }
// ==========================================================================
