.theme-container {
    margin-top: 15px;
}

.theme-heading {
    margin: 10px 0;
}

p {
    line-height: 1.25;
}

select {
    border: 0;
    font-size: 12px;
    margin-bottom: 8px;
}

.list-wrapper {
    border: 1px solid grey;

    li {
        font-size: 12px;
        padding: 2px 0;
        border-bottom: 1px solid grey;

        &:last-child {
            border-bottom: 0;
        }
    }
}

.message-block {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}